<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades com Descrição</title>
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        {% include 'navbar.html' %}
        
        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Habilidades com Descrição</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Upload Form -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Upload de Arquivo CSV</h5>
                                    <form action="{% url 'upload_habilidades5' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" name="excel_file" accept=".xlsx">
                                        <button type="submit" class="btn btn-primary">Upload Excel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.upload form -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Habilidade</th>
                                                <th>Descrição</th>
                                                <th>401</th>
                                                <th>403</th>
                                                <th>404</th>
                                                <!-- Adicione mais colunas conforme necessário -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for habilidade in habilidades %}
                                                <tr>
                                                    <td>{{ habilidade.item }}</td>
                                                    <td>{{ habilidade.habilidade }}</td>
                                                    <td>{{ habilidade.descricao_habilidade }}</td>
                                                    <td>{{ habilidade.prof_401 }}</td>
                                                    <td>{{ habilidade.prof_403 }}</td>
                                                    <td>{{ habilidade.prof_404 }}</td>
                                                    <!-- Continue adicionando mais turmas -->
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        
        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/dist/js/adminlte.min.js' %}"></script>
</body>
</html>
