<!DOCTYPE html>
{% load custom_tags %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades de Matemática</title>
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        {% include 'navbar.html' %}
        
        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Tabela de Acertos e Erros dos Professores de Matemática</h1>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Upload Form -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Upload de Arquivo Excel</h5>
                                    <form action="{% url 'upload_habilidades4' %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" name="excel_file" accept=".xlsx" required>
                                        <button type="submit" class="btn btn-primary">Upload Excel</button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.upload form -->

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped table-responsive">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Habilidade</th>
                                                {% for turma in turmas %}
                                                    <th>{{ turma }}</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for habilidade in habilidades %}
                                            <tr>
                                                <td>{{ habilidade.item }}</td>
                                                <td>{{ habilidade.habilidade }}</td>
                                                {% for turma in turmas %}
                                                    <td>{{ habilidade|get_attribute:"professor_"|add:turma }}</td>
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        
        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
    <!-- ./wrapper -->

    <!-- REQUIRED SCRIPTS -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/dist/js/adminlte.min.js' %}"></script>

    <script>
        {% if messages %}
            {% for message in messages %}
                let messageType = "{{ message.tags }}";  // Verifica se é sucesso ou erro
                Swal.fire({
                    icon: messageType === 'error' ? 'error' : 'success',
                    title: messageType === 'error' ? 'Erro' : 'Sucesso',
                    text: '{{ message }}',
                    confirmButtonText: 'OK'
                });
            {% endfor %}
        {% endif %}
    </script>
    

</body>
</html>
